<div class="d-flex justify-content-center">
    <button class="imprimir btn btn-primary" printSectionId="demo" ngxPrint>print</button>
</div><br>
<div class="d-flex justify-content-center align-item-center">
 
    <div class="detalleFactura" id="demo">
        <div class="row logo">
            <img class="facturaLogo" [src]="'/assets/img/socios/portoslogoPDF.svg'" alt="" />
        </div>
        <div class="d-flex justify-content-between">
            <div class="datosPortos">
                <ul>

                    <li>CIF: 12345678A</li>
                    <li>Calle Galicia</li>
                    <li>Lugo, CP: 12345</li>
                    <li>puntal@gmail.com</li>
                    <li>Teléfono: 123456789</li>

                </ul>
            </div>
            <div class="fechaFactura">
                <p>Fecha: 12/12/2021</p>
            </div>
        </div>
        <div class="datosSocio">
            <strong>DATOS SOCIO</strong>
            <ul>
                <li>Pedro Sánchez Lancharro</li>
                <li>Calle Malvarrosa</li>
                <li>Lugo, CP : 67890</li>
                <li>psl@gmail.es</li>
                <li>678564321</li>

            </ul>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <strong>TARIFAS</strong>
            </div>
            <div class="col-6 d-flex justify-content-between">
                <strong>Base</strong>
                <strong>IVA</strong>
                <strong>Total</strong>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <strong>AMARRES</strong>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <strong>DESCUENTOS</strong>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <strong>TOTAL</strong>
            </div>
    </div>