<div class="d-flex justify-content-center">
  <form action="" class="d-flex flex-column">
    <h4 class="text-center">AÑADIR MIEMBRO</h4>
    <div class="formLeft">
      <div class="mb-3 d-flex">
        <label for="nombre" class="form-label">Nombre de usuario:</label>
        <input
          name="Nombre"
          type="text"
          class="form-control mt-4"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input
          name="Apellidos"
          type="text"
          class="form-control mt-4"
          placeholder="Apellidos"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="fechaNacimiento" class="form-label"
          >Fecha de nacimiento:</label
        >
        <input
          name="fechaNacimiento"
          type="date"
          class="form-control mt-4"
          placeholder="Fecha de nacimiento"
        />
      </div>
     <div class="mb-3 d-flex">   <!--Planteándome si hacerlo condicionado a la edad -->
        <label for="dni" class="form-label">DNI:</label>
        <input
          name="dni"
          type="text"
          class="form-control mt-4"
          placeholder="DNI"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="parentesco">Parentesco:</label>
        <select>
  <option *ngFor="let parentesco of parentescos" [value]="parentesco">{{ parentesco }}</option>
</select>
      </div>
    </div>
    <!-- <div class="formRight col">
      <div class="mb-3 d-flex">
        <label for="contraseña" class="form-label">Contraseña:</label>
        <input
          name="Contraseña"
          type="password"
          class="form-control mt-4"
          placeholder="Contraseña"
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="contraseña" class="form-label">Confirmar contraseña:</label>
        <input
          name="Contraseña"
          type="password"
          class="form-control mt-4"
          placeholder="Confirmar"
        />
      </div>

     

    </div> -->
    <div class="d-flex justify-content-center mt-5 btnsPerfil">
      <button type="button" class="btn btnCancelar" (click)="volver()">CANCELAR</button>
      <button type="submit" class="btn btnAdd">AÑADIR</button>
    </div>
  </form>
</div>
