<div class="contenedor">
  <!-- <app-navlateral></app-navlateral> -->
  <nav class="azul500 col-md-2 d-flex flex-column">
    <img alt="Bootstrap Image Preview" src="/assets/img/Group.svg" class="logo" />
    <!-- <div *ngIf="admin"> -->
    <div *ngIf="role==='2'">
      <!-- <div> -->
      <!-- <app-boton
      [claseDesbloqueado]="claseBotonDesbloqueado"
      [claseBloqueado]="claseBotonBloqueado"
      [imageUrlDesbloqueado]="imageUrlDashboardDesbloqueado"
      [imageUrlBloqueado]="imageUrlDashboardBloqueado"
      label="Panel de control"
      [route]="dashboardRoute"
      [bloqueado]="bloqueadoPanelControl"
      (click)="activarPanelControl()"
    ></app-boton>
    <app-boton
      [claseDesbloqueado]="claseBotonDesbloqueado"
      [claseBloqueado]="claseBotonBloqueado"
      [imageUrlDesbloqueado]="imageUrlEmbarcacionDesbloqueado"
      [imageUrlBloqueado]="imageUrlEmbarcacionBloqueado"
      label="Gestión de embarcaciones"
      [route]="embarcacionRoute"
      [bloqueado]="bloqueadoGestionEmbarcaciones"
      (click)="activarGestionEmbarcaciones()"
    ></app-boton>
    <app-boton
      [claseDesbloqueado]="claseBotonDesbloqueado"
      [claseBloqueado]="claseBotonBloqueado"
      [imageUrlDesbloqueado]="imageUrlTransitosDesbloqueado"
      [imageUrlBloqueado]="imageUrlTransitosBloqueado"
      label="Gestión de transitos"
      [route]="transitosRoute"
      [bloqueado]="bloqueadoGestionTransitos"
      (click)="activarGestionTransitos()"
    ></app-boton>
    
    <app-boton
      [claseDesbloqueado]="claseBotonDesbloqueado"
      [claseBloqueado]="claseBotonBloqueado"
      [imageUrlDesbloqueado]="imageUrlPbDesbloqueado"
      [imageUrlBloqueado]="imageUrlPbBloqueado"
      label="Gestión de plazas base"
      [route]="plazasBaseRoute"
      [bloqueado]="bloqueadoGestionPlazaBase"
      (click)="activarGestionPlazaBase()"
    ></app-boton> -->
    </div>

  </nav>

  <div class="contenido">
    <nav class="arriba navbar navbar-expand-sm navbar-dark test1 d-flex justify-content-end">
      <div class="d-flex align-items-center"> <!-- Modificado para alinear verticalmente -->
        <h3 class="mb-0 mr-3">¡Hola {{ name }}!</h3> <!-- Agregado margen a la derecha -->
        <div class="d-flex">
          <!-- <a *ngIf="role==='2'" class="navbar-brand" routerLink="../notificaciones"> Prescindo mientras maqueto-->
          <a class="navbar-brand" routerLink="../notificaciones">
            <img src="/assets/img/nots.svg" alt="Avatar Logo" style="width: 40px" class="rounded-pill notIcon" />
          </a>
          <a class="navbar-brand" href="#">
            <img src="/assets/img/user.svg" alt="Avatar Logo" style="width: 40px" class="rounded-pill userIcon" />
          </a>
          <a class="navbar-brand" href="" (click)="logout()">
            <img src="/assets/img/logout.svg" alt="Avatar Logo" style="width: 40px" class="rounded-pill logoutIcon" />
          </a>
        </div>
      </div>
    </nav>
    <!-- <app-navheader></app-navheader> -->
    <div class="contenido-interno">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>