<div class="d-flex flex-column align-items-center">
    <div class="cardsAlt d-flex justify-content-around">
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
    </div>
    <div class="cardsDown d-flex justify-content-around">
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                CARD</div>
            <div class="card-body">
                CARD BODY
    
            </div>
        </div>
    
    </div>

 


  



</div>